.resume{
    display: flex;
    flex-direction: column;
    border: 2px solid var(--color-text);
    border-radius: .6rem;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family:monospace;
    margin-top: 1rem;
}
.resume > *:not(:last-child){
    padding-bottom: 1rem;
}
hr{
    width: 100%;
    border: .1vw solid var(--color-text);
    border-radius: 1rem;
}
a{
    color: var(--color-text);
    text-decoration: underline;
    font-weight: 900;       
    padding: 0 .4rem 0 .4rem;
}
a:hover, a:focus{
    /* background-color: var(--color-text); */
    background-color: var(--color-terminal-text);
    color: var(--color-background);         
}
strong{
    font-weight: 900;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}
.header p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: .4rem;
    white-space: pre;
}

.education > *, 
.professional-experience > *,
.projects > *,
.skills > *,
.achievements-and-certifications > *{
    padding-bottom: .5rem;
}

.education-item, 
.professional-experience-item {
    display: grid;
    grid-template-columns: auto auto;
}
.education-item > *:nth-child(2n+2), 
.professional-experience-item > *:nth-child(2n+2){
    text-align: right;
}
.professional-experience-item > ul,
.projects-item > ul,
.skills > ul,
.achievements-and-certifications > ul{
    padding-left: 2rem;
    padding-top: .25rem;
}