@import "./themes.css";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--color-background);
    color:  var(--color-text);
    font-family: 'FiraCode Nerd Font', sans-serif, 'Courier New', Courier, monospace;
}
main{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.version{
    font-size: clamp(8px, 1vw, 22px);
    font-weight: bolder;
}
.intro{
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 2vw;
}
.art, .name{
    font-family: 'Courier New', Courier, monospace;
    white-space: pre;
    font-size: clamp(3px, 1vw, 14px);
}
.help{
    white-space: pre-line;
    font-size: clamp(9px, 1vw, 24px);
    font-weight: normal;
}
.keyword{
    color: var(--color-caret-Keyword);
    font-weight: normal;
    text-shadow: 0 0 .3rem var(--color-caret-Keyword);  
}
.terminal{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.line1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
span,.command_input{
    color: var(--color-terminal-text);
    font-size: clamp(12px, 1vw, 24px);
}
.line2{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
}
.command_input{
    border: none;
    outline: none;
    font-weight: lighter;
    color: var(--color-text);
    caret-color: var(--color-caret-Keyword);
}
.result, .error{
    color: var(--color-text);
    font-size: clamp(9px, 1vw, 24px);
    font-weight: 80;
}
.result{
    color: var(--color-text);
}
.error{
    color: hsl(355, 65%, 65%);
}
@media (min-width: 1200px) {
    main {
        padding: 2rem;
    }
}
