@import "./themes.css";
:root{
    --color-error: hsl(355, 75%, 45%);
    --font-size:clamp(12px, .8vw, 20px);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, input{
    background-color: var(--color-background);
    color:  var(--color-text);
    font-family: 'FiraCode Nerd Font', sans-serif, 'Courier New', Courier, monospace;
}
main{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    scroll-behavior: smooth;
}
.version{
    font-size: clamp(8px, .9vw, 20px);
    font-weight: bolder;
}
.intro{
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: min(2rem,2vw);
}
.art, .name{
    font-family: 'Courier New', Courier, monospace;
    white-space: pre;
    font-size: clamp(4.3px, .6vw, 14px);
    font-weight: 800;
}
.help{
    white-space: pre-line;
    font-size: var(--font-size);
    font-weight: normal;
}
.keyword{
    color: var(--color-caret-Keyword);
    font-weight: normal;
    text-shadow: 0 0 .3rem var(--color-caret-Keyword);  
}
.terminal{
    display: flex;
    flex-direction: column;
    gap: min(2rem,2vh);
}
.line1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.line2{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
}
.line1 span, .line2 span, .command_input{
    color: var(--color-terminal-text);
    font-size: var(--font-size);
}

.command_input{
    border: none;
    outline: none;
    font-weight: lighter;
    font-size: var(--font-size);
    color: var(--color-text);
    caret-color: var(--color-caret-Keyword);
}
.two-col{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.output, .error{
    font-weight: 80;
    padding: 1rem 2rem;
    font-size: var(--font-size);
}
.error{
    color: var(--color-error);
}
@media (min-width: 1200px) {
    main {
        padding: 2rem;
    }
}